body {
  margin: 0;
}

.sidebar {
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px;
}

.logo-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  background: rgba(28, 17, 41, 0.88);
}

.menu-bar {
  height: 88vh;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
  position: relative;
}

.toggle-theme-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.toggle {
  margin-left: 15px;
}

.modal-content {
  position: absolute;
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  max-width: 800px;
  max-height: 845px;
  margin: 30px auto;
}

.contact-map {
  margin-top: 10px;
}

.ag-theme-alpine .ag-root-wrapper  {
  border: none;
}

.ant-descriptions-item-label {
  font-size: 16px;
}

.ant-modal-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ant-modal-body::-webkit-scrollbar {
  width: 4px;
}

.ant-modal-body::-webkit-scrollbar-thumb:hover {
  background-color: black;
}

.ant-modal-body::-webkit-scrollbar-track {
  background-color: #e1e6e6;
}

.ant-modal-body::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: gray;
}

:where(.css-dev-only-do-not-override-1wwf28x).ant-descriptions .ant-descriptions-row>th,
:where(.css-dev-only-do-not-override-1wwf28x).ant-descriptions .ant-descriptions-row>td {
  padding-bottom: 5px;
}

@media screen and (max-width: 600px) {
  :where(.css-1wwf28x).ant-modal-root .ant-modal {
    margin: 0;
  }
  
  :where(.css-dev-only-do-not-override-1wwf28x).ant-modal-root .ant-modal {
    margin: 0;
  }

  .ant-modal,
  .ant-modal-content {
    height: 100vh;
    width: 100vw;
    margin: 0;
    top: 0;
  }

  .body {
    background-color: black;
  }
}